@import url(../fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302C42;
  font-family: "Montserrat", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: calc(100% - 168px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.header__logo {
  display: flex;
  cursor: pointer;
  max-width: 200px;
}
.header__logo-img {
  width: 102px;
  margin-right: 15px;
}
.header__logo-title {
  width: 76px;
}
.header__nav {
  margin-left: 62px;
}
.header__nav-item {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-right: 36px;
}
.header__nav-item:hover {
  opacity: 0.7;
}
.header__nav-item:last-of-type {
  margin-right: 0;
}
.header__contacts {
  display: flex;
}
.header__contacts-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.header__contacts-item:hover {
  opacity: 0.7;
}
.header__contacts .contact {
  color: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
  padding: 17px 38px 0 34px;
  margin-right: 38px;
}
.header__contacts .join {
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  padding: 17px 38px 17px 34px;
}