@import url(../fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302C42;
  font-family: "Montserrat", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: calc(100% - 168px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.header__logo {
  display: flex;
  max-width: 200px;
  align-items: center;
}
.header__logo-img {
  width: 102px;
  height: 103px;
  margin-right: 15px;
}
.header__logo-title {
  width: 76px;
  height: 46px;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__nav {
  margin: 0 30px 0 93px;
}
.header__nav-item {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-right: 36px;
}
.header__nav-item:hover {
  opacity: 0.7;
}
.header__nav-item:last-of-type {
  margin-right: 0;
}
.header__contacts {
  display: flex;
}
.header__contacts-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 38px;
  align-self: center;
}
.header__contacts-item:hover {
  opacity: 0.7;
}
.header__contacts .contact {
  color: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
  margin-right: 38px;
}
.header__contacts .login {
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
}

.home {
  padding-top: 100px;
}
.home__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 86px;
}
.home__container-description {
  position: relative;
  max-width: 500px;
  margin-top: -22px;
  margin-right: 30px;
}
.home__container-description-vector {
  position: absolute;
  z-index: -1;
  top: -57px;
  left: -83px;
}
.home__container-description-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 55px;
}
.home__container-description-title-gradient {
  color: #C0B7E8;
  font-size: 46px;
}
.home__container-description-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #FFFFFF;
  margin-bottom: 66px;
}
.home__container-description-link {
  display: flex;
  align-items: center;
}
.home__container-description-link-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.5px;
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  padding: 17px 43px 16px 38px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 40px;
  margin-right: 40px;
}
.home__container-description-link-btn:hover {
  opacity: 0.7;
}
.home__container-description-link-arrow {
  width: 42px;
  height: 33px;
}
.home__container-image {
  position: relative;
  width: 524px;
  height: 455px;
  background: url("../images/background-home-image.png");
  border-radius: 100px 100px 100px 240px;
}
.home__container-image-img {
  border-radius: 100px 100px 100px 240px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 490px;
  height: 426px;
  margin: 14px 18px 15px 16px;
}
.home__container-image-vector {
  position: absolute;
  top: -257px;
  right: 47px;
  z-index: -1;
}
.home__container-image-vector-2 {
  position: absolute;
  z-index: -1;
  top: 160px;
  right: -65px;
}
.home__container-image-vector-3 {
  position: absolute;
  z-index: -1;
  top: -89px;
  right: 20px;
}
.home__info {
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.0117647059);
  border-radius: 90px;
  display: flex;
  justify-content: space-between;
  padding: 28px 39px;
}
.home__info-wrapper-container {
  display: flex;
  width: 100%;
  border-right: 1px solid rgba(192, 183, 232, 0.3294117647);
  justify-content: center;
  min-height: 110px;
  align-items: center;
  padding-right: 20px;
}
.home__info-wrapper-container-img {
  width: 45px;
  height: 45px;
  margin: 0 30px;
}
.home__info-wrapper-container-item {
  margin-right: 15px;
}
.home__info-wrapper-container-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.home__info-wrapper-container-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.home__info-wrapper-container:last-of-type {
  border-right: none;
  padding-left: 45px;
}
.home .swiper-slide {
  display: flex;
}

.about {
  padding-top: 94px;
}
.about__info {
  display: flex;
}
.about__info-introduction {
  margin-right: 111px;
}
.about__info-introduction-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: -18px;
}
.about__info-introduction-nav {
  display: flex;
  align-items: center;
}
.about__info-introduction-nav-subtitle {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 259px;
  margin-right: 30px;
}
.about__info-introduction-nav-arrow {
  width: 228px;
  height: 100px;
}
.about__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.about__description {
  position: relative;
  display: flex;
  margin-top: 119px;
}
.about__description-vector {
  position: absolute;
  top: -32px;
  left: -85px;
  z-index: -1;
  width: 100%;
}
.about__description-vector-2 {
  position: absolute;
  top: 253px;
  left: -85px;
  z-index: -1;
  width: 100%;
}
.about__description-photo {
  width: 524px;
  height: 557px;
  border-radius: 240px 100px 240px 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-right: 117px;
  margin-top: -48px;
}
.about__description-container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.about__description-container-subtitle {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.about__description-container-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 38px;
}
.about__description-container-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.6px;
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  padding: 17px 47px 16px 39px;
  text-transform: uppercase;
  text-decoration: none;
}
.about__description-container-btn:hover {
  opacity: 0.7;
}

.services {
  padding-top: 111px;
}
.services__cards-wrapper {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
}
.services__cards-wrapper-item {
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 11px;
}
.services__cards-wrapper-item-photo {
  width: 219px;
  height: 219px;
  border-radius: 50%;
  background: rgba(14, 14, 14, 0.3215686275);
  padding: 14px;
  margin-top: 23px;
}
.services__cards-wrapper-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 21px;
  border-bottom: 1px solid rgba(192, 183, 232, 0.3294117647);
  padding-bottom: 17.5px;
}
.services__cards-wrapper-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 21.5px;
  width: 100%;
  padding: 0 25px;
}
.services__cards-wrapper-item-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #343045;
  padding: 16px 39px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 35px 0 40px;
}
.services__cards-wrapper-item-btn:hover {
  opacity: 0.7;
}
.services__cards-wrapper-item:last-of-type {
  margin-right: 0;
}
.services .swiper-slide {
  display: flex;
}

.btn {
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(14, 14, 14, 0.3215686275);
  padding: 7px;
}
.btn__left {
  background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
  border-radius: 50%;
  padding: 14px 18px;
}
.btn__right {
  rotate: 180deg;
  background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
  border-radius: 50%;
  padding: 14px 18px;
}

.tech {
  padding-top: 114px;
}
.tech__container {
  position: relative;
  background-image: url("../images/tech-photo.jpg");
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.0117647059);
  border-radius: 160px;
  height: 303px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tech__container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.tech__container-subtitle {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.tech__container-arrow {
  position: absolute;
  background: rgba(14, 14, 14, 0.3215686275);
  border-radius: 50%;
  padding: 15px;
  bottom: -50px;
}
.tech__container-arrow-img {
  background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
  padding: 27px 21px;
  border-radius: 50%;
}
.tech__companies {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech__companies-item-1 {
  width: 174px;
  height: 174px;
}
.tech__companies-item-2 {
  width: 252px;
  height: 252px;
}
.tech__companies-item-3 {
  width: 263px;
  height: 263px;
}
.tech__companies-item-4 {
  width: 282px;
  height: 282px;
}

.process {
  padding-top: 74px;
}
.process .info-process {
  width: 322px;
}
.process__container {
  position: relative;
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
}
.process__container-vector {
  position: absolute;
  z-index: -1;
  right: -35px;
  top: 12px;
  width: 100%;
}
.process__container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process__container-item-round {
  background: rgba(13, 13, 13, 0.3215686275);
  padding: 20px;
  border-radius: 50%;
}
.process__container-item-round-number {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #343045;
  background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
  padding: 40px;
  border-radius: 50%;
}
.process__container-item-text {
  margin-top: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.process__container-item-text::before {
  content: "";
  background: url("../images/arrow-small-right.svg");
  width: 67px;
  height: 67px;
  margin-right: 25px;
}

.join {
  padding-top: 112px;
}
.join__container {
  background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join__container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.join__container-title::after {
  content: "";
  background: url("../images/border.svg");
  width: 414px;
  height: 2px;
  margin-top: 30px;
}
.join__container-subtitle {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 21px;
  width: 100%;
  text-align: center;
}
.join__container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  width: 100%;
  padding: 0 108px;
}
.join__container-form-input {
  display: grid;
  grid-template-areas: "item-1 item-1 item-1 item-2 item-2 item-2" "item-3 item-3 item-3 item-4 item-4 item-4" "item-5 item-5 item-5 item-5 item-5 item-5" "item-6 item-6 item-6 item-6 item-6 item-6";
  gap: 32px 11px;
  width: 100%;
}
.join__container-form-input-item {
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 27px 41px;
}
.join__container-form-input-item::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.join__container-form-input-item::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.join__container-form-input .item-6 {
  min-height: 210px;
  resize: none;
}
.join__container-form-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  padding: 16px 55px;
  border: none;
  text-transform: uppercase;
  margin: 51px 0 84px;
}
.join__container-form-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  padding-top: 126px;
  padding-bottom: 59px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__container-vector-2 {
  position: absolute;
  top: -318px;
  left: -82px;
  z-index: -1;
  width: 100%;
}
.footer__container-vector-3 {
  position: absolute;
  top: -38px;
  left: -84px;
  z-index: -1;
  width: 100%;
}
.footer__logo-img {
  width: 185px;
  height: 185px;
}
.footer__logo-img:hover {
  opacity: 0.7;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.5px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__nav-item:hover {
  opacity: 0.7;
}
.footer__networks-text {
  margin-bottom: 39px;
}
.footer__networks-text:hover {
  opacity: 1;
}
.footer__networks-container {
  margin-bottom: 49px;
}
.footer__networks-container-link {
  margin-right: 20px;
}
.footer__networks-container-link-icon {
  width: 32px;
  height: 32px;
}
.footer__networks-container-link-icon:last-of-type {
  margin-right: 0;
}
.footer__networks-container-link-icon:hover {
  opacity: 0.7;
}
.footer__networks-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #343045;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  padding: 17px 43px 16px 38px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__networks-btn:hover {
  opacity: 0.7;
}
.footer__copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
}
.footer__copyright::before {
  content: "";
  background: url("../images/footer-vector.svg");
  width: 100%;
  height: 2px;
  margin-bottom: 46px;
}

@media screen and (max-width: 1220px) {
  .header__nav {
    margin: 0 30px;
  }
  .tech__companies-item-1 {
    width: 134px;
    height: 134px;
  }
  .tech__companies-item-2 {
    width: 212px;
    height: 212px;
  }
  .tech__companies-item-3 {
    width: 223px;
    height: 223px;
  }
  .tech__companies-item-4 {
    width: 242px;
    height: 242px;
  }
  .about__description-photo {
    width: 444px;
    height: 487px;
    margin-top: 0;
  }
  .about__info-introduction-nav-arrow {
    width: 170px;
    height: 108px;
  }
}
@media screen and (max-width: 1190px) {
  .header__nav-item {
    font-size: 11px;
  }
  .header__contacts-item {
    font-size: 10px;
    padding: 17px 23px;
  }
  .home__container-image {
    width: 458px;
    height: 385px;
  }
  .home__container-image-img {
    width: 420px;
    height: 355px;
  }
  .home__container-description {
    margin-top: 0;
  }
  .home__info-wrapper-container-img {
    width: 35px;
    height: 35px;
  }
  .home__info-wrapper-container-item-title {
    font-size: 22px;
    line-height: 27px;
  }
  .home__info-wrapper-container-item-text {
    font-size: 12px;
    line-height: 15px;
  }
  .process__container-item-round {
    padding: 15px;
  }
  .process__container-item-round-number {
    padding: 35px;
    font-size: 60px;
  }
  .process__container-item-text {
    font-size: 20px;
  }
  .process__container-item-text::before {
    margin-right: 13px;
  }
}
@media screen and (max-width: 1050px) {
  .header__logo-img {
    width: 82px;
    height: 83px;
  }
  .header__logo-title {
    width: 66px;
    height: 36px;
  }
  .process__container-item-text::before {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .about__info-introduction {
    margin-right: 50px;
  }
  .about__info-introduction-title {
    font-size: 32px;
    line-height: 40px;
  }
  .about__info-introduction-nav-subtitle {
    font-size: 32px;
    line-height: 40px;
  }
  .about__info-introduction-nav-arrow {
    width: 108px;
    height: 88px;
  }
  .about__info-text {
    font-size: 14px;
    line-height: 24px;
  }
  .about__description-photo {
    width: 374px;
    height: 427px;
    border-radius: 200px 60px;
    margin-right: 74px;
  }
  .about__description-container-title {
    font-size: 32px;
    line-height: 40px;
  }
  .about__description-container-subtitle {
    font-size: 32px;
    line-height: 40px;
  }
  .about__description-container-text {
    font-size: 14px;
    line-height: 24px;
  }
  .about__description-container-btn {
    font-size: 10px;
  }
  .services__cards-wrapper-item-photo {
    width: 180px;
    height: 180px;
  }
  .services__cards-wrapper-item-title {
    font-size: 22px;
    line-height: 27px;
  }
  .services__cards-wrapper-item-btn {
    font-size: 11px;
  }
  .tech__companies-item-1 {
    width: 124px;
    height: 124px;
  }
  .tech__companies-item-2 {
    width: 192px;
    height: 192px;
  }
  .tech__companies-item-3 {
    width: 203px;
    height: 203px;
  }
  .tech__companies-item-4 {
    width: 222px;
    height: 222px;
  }
  .process__container-item-round-number {
    padding: 25px 30px;
    font-size: 56px;
  }
  .process__container-item-text {
    font-size: 16px;
  }
  .footer__logo-img {
    width: 145px;
    height: 145px;
  }
  .footer__nav-item {
    font-size: 14px;
  }
}
@media screen and (max-width: 960px) {
  .home__container-image {
    width: 408px;
    height: 328px;
  }
  .home__container-image-img {
    width: 370px;
    height: 295px;
  }
  .home__container-description-title {
    font-size: 34px;
    margin-bottom: 28px;
  }
  .home__container-description-title-gradient {
    font-size: 40px;
  }
  .home__container-description-subtitle {
    font-size: 14px;
    margin-bottom: 46px;
  }
  .home__container-description-link-btn {
    font-size: 10px;
    padding: 17px 20px;
  }
  .home__info-wrapper-container-img {
    width: 30px;
    height: 30px;
    margin: 0 18px;
  }
  .home__info-wrapper-container-item-title {
    font-size: 17px;
    line-height: 20px;
  }
  .tech__companies-item-1 {
    width: 104px;
    height: 104px;
  }
  .tech__companies-item-2 {
    width: 162px;
    height: 162px;
  }
  .tech__companies-item-3 {
    width: 183px;
    height: 183px;
  }
  .tech__companies-item-4 {
    width: 200px;
    height: 200px;
  }
  .about__info-introduction {
    margin-right: 30px;
  }
  .about__info-introduction-title {
    font-size: 30px;
  }
  .about__info-introduction-nav-subtitle {
    font-size: 30px;
    margin-right: 5px;
  }
  .about__info-introduction-nav-arrow {
    width: 80px;
    height: 88px;
  }
  .about__info-text {
    font-size: 14px;
    line-height: 24px;
  }
  .about__description-photo {
    width: 300px;
    height: 378px;
  }
  .services__cards-wrapper-item-photo {
    width: 150px;
    height: 150px;
  }
  .services__cards-wrapper-item-title {
    font-size: 18px;
    line-height: 22px;
  }
  .services__cards-wrapper-item-btn {
    font-size: 10px;
    padding: 14px 32px;
  }
  .process__container-item-round-number {
    padding: 20px 30px;
    font-size: 50px;
  }
  .process__container-item-text {
    font-size: 16px;
    text-align: center;
  }
  .process__container-item-text::before {
    width: 0;
    height: 0;
  }
  .join__container-title {
    font-size: 30px;
    line-height: 40px;
  }
  .join__container-subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  .footer__logo-img {
    width: 115px;
    height: 115px;
  }
  .footer__nav-item {
    font-size: 12px;
  }
  .footer__networks-container-link-icon {
    width: 26px;
    height: 26px;
  }
  .footer__networks-btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 840px) {
  .home {
    padding-top: 64px;
  }
  .home__container {
    flex-direction: column-reverse;
  }
  .home__container-description {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__container-description-vector {
    display: none;
  }
  .home__container-description-title {
    text-align: center;
  }
  .home__container-description-subtitle {
    text-align: center;
  }
  .home__container-description-link {
    width: 100%;
  }
  .home__container-description-link-btn {
    font-size: 14px;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .home__container-description-link-arrow {
    display: none;
  }
  .home__container-image {
    width: 468px;
    height: 388px;
  }
  .home__container-image-vector-2 {
    right: -107px;
  }
  .home__container-image-img {
    width: 430px;
    height: 355px;
  }
  .home__info {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .home__info-wrapper-container {
    text-align: center;
    border-right: 0;
    padding: 0;
  }
  .home__info-wrapper-container-img {
    width: 36px;
    height: 36px;
  }
  .home__info-wrapper-container-item-title {
    font-size: 24px;
  }
  .home__info-wrapper-container-item-text {
    font-size: 16px;
  }
  .home__info-wrapper-container:last-of-type {
    padding-left: 0;
  }
  .home__info-button-next {
    position: absolute;
    top: 60px;
    right: 11px;
    z-index: 1;
    width: 44px;
    height: 44px;
  }
  .home__info-button-prev {
    position: absolute;
    top: 60px;
    left: 11px;
    z-index: 1;
    width: 44px;
    height: 44px;
  }
  .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
  }
  .about__info-introduction {
    text-align: center;
    margin-right: 0;
  }
  .about__info-introduction-title {
    margin-bottom: 16px;
  }
  .about__info-introduction-nav-subtitle {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .about__info-introduction-nav-arrow {
    display: none;
  }
  .about__info-text {
    text-align: center;
  }
  .about__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .about__description-vector {
    display: none;
  }
  .about__description-vector-2 {
    display: none;
  }
  .about__description-photo {
    margin-right: 0;
    width: 370px;
    height: 458px;
    margin-bottom: 50px;
  }
  .about__description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__description-container-text {
    text-align: center;
  }
  .about__description-container-btn {
    width: 100%;
    text-align: center;
  }
  .tech__container {
    border-radius: 60px;
  }
  .tech__container-title {
    font-size: 30px;
  }
  .tech__container-subtitle {
    font-size: 30px;
  }
  .services__cards {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: auto;
  }
  .services__cards-wrapper-item {
    margin-right: 0;
  }
  .services__cards-wrapper-item-title {
    font-size: 22px;
  }
  .services__cards-wrapper-item-text {
    font-size: 14px;
  }
  .services__cards-btn-prev, .services__cards-btn-next {
    position: absolute;
    top: 46%;
    z-index: 1;
  }
  .services__cards-btn-next {
    right: 0;
  }
  .services__cards-btn-prev {
    left: 0;
  }
  .join__container-form {
    padding: 0 22px;
  }
  .join__container-form-input {
    grid-template-areas: "item-1 item-1 item-1 item-1 item-1 item-1" "item-2 item-2 item-2 item-2 item-2 item-2" "item-3 item-3 item-3 item-3 item-3 item-3" "item-4 item-4 item-4 item-4 item-4 item-4" "item-5 item-5 item-5 item-5 item-5 item-5" "item-6 item-6 item-6 item-6 item-6 item-6";
  }
  .join__container-form-input-item {
    padding: 29px 18px;
  }
  .join__container-form-btn {
    width: 100%;
    text-align: center;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    margin-bottom: 46px;
  }
  .footer__logo-img {
    width: 185px;
    height: 185px;
  }
  .footer__nav {
    display: none;
  }
  .footer__networks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__networks-text {
    font-size: 16px;
  }
  .footer__networks-container-link-icon {
    width: 32px;
    height: 32px;
  }
  .footer__networks-container-link:last-of-type {
    margin-right: 0;
  }
  .footer__networks-btn {
    width: 100%;
    text-align: center;
  }
}