@import url(../fonts/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #302C42;
  font-family: 'Montserrat', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: calc(100% - 84px * 2);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  &__logo { 
    display: flex;
    max-width: 200px;
    align-items: center;
    &-img {
      width: 102px;
      height: 103px;
      margin-right: 15px;
    }
    &-title {
      width: 76px;
      height: 46px;
    }
  }
  &__logo:hover {
    opacity: 0.7;
  }
  &__nav {
    margin: 0 30px 0 93px;
    &-item {
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      margin-right: 36px;
    }
    &-item:hover{
      opacity: 0.7;
    }
    &-item:last-of-type {
      margin-right: 0;
    }
  }
  &__contacts {
    display: flex;
    &-item{
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-decoration: none;
      text-transform: uppercase;
      padding: 17px 38px;
      align-self: center;
    }
    &-item:hover {
      opacity: 0.7;
    }
    .contact{
      color: #FFFFFF;
      border-radius: 40px;
      border: 2px solid #FFFFFF;
      margin-right: 38px;
    }
    .login {
      color: #343045;
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
      border-radius: 40px;
    }
  }
}

.home {
  padding-top: 100px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
    &-description {
      position: relative;
      max-width: 500px;
      margin-top: -22px;
      margin-right: 30px;
      &-vector {
        position: absolute;
        z-index: -1;
        top: -57px;
        left: -83px;
      }
      &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        margin-bottom: 55px;
        &-gradient {
          color: #C0B7E8;
          font-size: 46px;
        }
      }
      &-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19.5px;
        color: #FFFFFF;
        margin-bottom: 66px;
      }
      &-link {
        display: flex;
        align-items: center;
        &-btn {
          font-weight: 700;
          font-size: 12px;
          line-height: 14.5px;
          color: #343045;
          background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
          padding: 17px 43px 16px 38px;
          text-transform: uppercase;
          text-decoration: none;
          border-radius: 40px;
          margin-right: 40px;
        }
        &-btn:hover {
          opacity: 0.7;
        }
        &-arrow {
          width: 42px;
          height: 33px;
        }
      }
    }
    &-image {
      position: relative;
      width: 524px;
      height: 455px;
      background: url("../images/background-home-image.png");
      border-radius: 100px 100px 100px 240px;
      &-img {
        border-radius: 100px 100px 100px 240px;
        box-shadow: 0px 4px 4px 0px #00000040;
        width: 490px;
        height: 426px;
        margin: 14px 18px 15px 16px;
      }
      &-vector {
        position: absolute;
        top: -257px;
        right: 47px;
        z-index: -1;
      }
      &-vector-2 {
        position: absolute;
        z-index: -1;
        top: 160px;
        right: -65px;
      }
      &-vector-3 {
        position: absolute;
        z-index: -1;
        top: -89px;
        right: 20px;
      }
    }
  }
  &__info {
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
    padding: 28px 39px;
    &-container {
      display: flex;
      width: 100%;
      border-right: 1px solid #C0B7E854;
      justify-content: center;
      min-height: 110px;
      align-items: center;
      &-img {
        width: 45px;
        height: 45px;
        margin: 0 30px;
      }
      &-item {
        margin-right: 15px;
        &-title {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
          margin-bottom: 10px;
        }
        &-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }
      }
    }
    &-container:last-of-type {
      border-right: none;
    }
  }
}

.about {
  padding-top: 94px;
  &__info {
    display: flex;
    &-introduction {
      margin-right: 111px;
      &-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: -18px;
      }
      &-nav {
        display: flex;
        align-items: center;
        &-subtitle {
          font-weight: 300;
          font-size: 36px;
          line-height: 44px;
          color: #FFFFFF;
          text-transform: uppercase;
          width: 259px;
          margin-right: 30px;
        }
        &-arrow {
          width: 228px;
          height: 100px;
        }
      }
    }
    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
  &__description {
    position: relative;
    display: flex;
    margin-top: 119px;
    &-vector {
      position: absolute;
      top: -32px;
      left: -85px;
      z-index: -1;
      width: 100%;
    }
    &-vector-2 {
      position: absolute;
      top: 253px;
      left: -85px;
      z-index: -1;
      width: 100%;
    }
    &-photo {
      width: 524px;
      height: 557px;
      border-radius: 240px 100px 240px 100px;
      box-shadow: 0px 4px 4px 0px #00000040;
      margin-right: 117px;
      margin-top: -48px;
    }
    &-container {
      &-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      &-subtitle {
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 38px;
      }
      &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 38px;
      }
      &-btn {
        font-weight: 700;
        font-size: 12px;
        line-height: 14.6px;
        color: #343045;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;
        padding: 17px 47px 16px 39px;
        text-transform: uppercase;
        text-decoration: none;
      }
      &-btn:hover {
        opacity: 0.7;
      }
    }
  }
}

.services {
  padding-top: 111px;
  &__cards {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
    &-item {
      background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
      border-radius: 40px;
      // width: 310px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 11px;
      &-photo {
        width: 219px;
        height: 219px;
        border-radius: 50%;
        background: #0E0E0E52;
        padding: 14px;
        margin-top: 23px;
      }
      &-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-top: 21px;
        border-bottom: 1px solid #C0B7E854;
        padding-bottom: 17.5px;
      }
      &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 21.5px;
        width: 100%;
        padding: 0 25px;
      }
      &-btn {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #343045;
        padding: 16px 39px;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 35px 0 40px;
      }
      &-btn:hover {
        opacity: 0.7;
      }
    }
    &-item:last-of-type {
      margin-right: 0;
    }
  }
}

.tech {
  padding-top: 114px;
  &__container {
    position: relative;
    background-image: url("../images/tech-photo.jpg");
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    border-radius: 160px;
    height: 303px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    &-subtitle {
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    &-arrow {
      position: absolute;
      background: #0E0E0E52;
      border-radius: 50%;
      padding: 15px;
      bottom: -50px;
      &-img {
        background: linear-gradient(267.61deg, #C0B7E8 -0.6%, #8176AF 98.31%);
        padding: 27px 21px;
        border-radius: 50%;
      }
    }
  }
  &__companies {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item-1 {
      width: 174px;
      height: 174px;
    }
    &-item-2 {
      width: 252px;
      height: 252px;
    }
    &-item-3 {
      width: 263px;
      height: 263px;
    }
    &-item-4 {
      width: 282px;
      height: 282px;
    }
  }
}

.process {
  padding-top: 74px;
  .info-process {
    width: 322px;
  }
  &__container {
    position: relative;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    &-vector {
      position: absolute;
      z-index: -1;
      right: -35px;
      top: 12px;
      width: 100%;
    }
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-round {
        background: #0D0D0D52;
        padding: 20px;
        border-radius: 50%;
        &-number {
          font-weight: 700;
          font-size: 64px;
          line-height: 78px;
          color: #343045;
          background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
          padding: 40px;
          border-radius: 50%;
        }
      }
      &-text {
        margin-top: 21px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
      }
      &-text::before {
        content: "";
        background: url("../images/arrow-small-right.svg");
        width: 67px;
        height: 67px;
        margin-right: 25px;
      }
    }
  }
}

.join {
  padding-top: 112px;
  &__container {
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
    }
    &-title::after {
      content: "";
      background: url("../images/border.svg");
      width: 414px;
      height: 2px;
      margin-top: 30px;
    }
    &-subtitle {
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
      margin-top: 21px;
      width: 100%;
      text-align: center;
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 65px;
      width: 100%;
      padding: 0 108px;
      &-input {
        display: grid;
        grid-template-areas: 
        "item-1 item-1 item-1 item-2 item-2 item-2"
        "item-3 item-3 item-3 item-4 item-4 item-4"
        "item-5 item-5 item-5 item-5 item-5 item-5"
        "item-6 item-6 item-6 item-6 item-6 item-6";
        gap: 32px 11px;
        width: 100%;
        &-item {
          border: 2px solid #FFFFFF;
          background: none;
          border-radius: 40px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          padding: 27px 41px;
        }
        &-item::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }
        .item-6 {
          min-height: 210px;
          resize: none;
        }
      }
      &-btn {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #343045;
        background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
        border-radius: 40px;
        padding: 16px 55px;
        border: none;
        text-transform: uppercase;
        margin: 51px 0 84px;
      }
      &-btn:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

.footer {
  padding-top: 126px;
  padding-bottom: 59px;
  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    &-vector-2 {
      position: absolute;
      top: -318px;
      left: -82px;
      z-index: -1;
      width: 100%;
    }
    &-vector-3 {
      position: absolute;
      top: -38px;
      left: -84px;
      z-index: -1;
      width: 100%;
    }
  }
  &__logo-img {
    width: 185px;
    height: 185px;
  }
  &__logo-img:hover {
    opacity: 0.7;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    &-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 22.5px;
      color: #FFFFFF;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &-item:hover {
      opacity: 0.7;
    }
  }
  &__networks {
    &-text {
      margin-bottom: 39px;
    }
    &-text:hover {
      opacity: 1;
    }
    &-container {
      margin-bottom: 49px;
      &-link {
        margin-right: 20px;
        &-icon {
          width: 32px;
          height: 32px;
        }
        &-icon:last-of-type {
          margin-right: 0;
        }
        &-icon:hover {
          opacity: 0.7;
        }
      }
    }
    &-btn {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: #343045;
      background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
      border-radius: 40px;
      padding: 17px 43px 16px 38px;
      text-transform: uppercase;
      text-decoration: none;
    }
    &-btn:hover {
      opacity: 0.7;
    }
  }
  &__copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }
  &__copyright::before {
    content: "";
    background: url("../images/footer-vector.svg");
    width: 100%;
    height: 2px;
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 1220px) {
  .header__nav {
    margin: 0 30px;
  }

  .tech__companies-item-1 {
    width: 134px;
    height: 134px;
  }
  .tech__companies-item-2 {
    width: 212px;
    height: 212px;
  }
  .tech__companies-item-3 {
    width: 223px;
    height: 223px;
  }
  .tech__companies-item-4 {
    width: 242px;
    height: 242px;
  }

  .about__description-photo {
    width: 444px;
    height: 487px;
    margin-top: 0;
  }

  .about__info-introduction-nav-arrow {
    width: 170px;
    height: 108px;
  }
}

@media screen and (max-width: 1190px) {
  .header__nav-item {
    font-size: 11px;
  }

  .header__contacts-item {
    font-size: 10px;
    padding: 17px 23px;
  }

  .home__container-image {
    width: 458px;
    height: 385px;
    &-img {
      width: 420px;
      height: 355px;
    }
  }

  .home__container-description {
    margin-top: 0;
  }

  .home__info-container-img {
    width: 35px;
    height: 35px;
  }

  .home__info-container-item-title {
    font-size: 22px;
    line-height: 27px;
  }

  .home__info-container-item-text {
    font-size: 12px;
    line-height: 15px;
  }

  .process__container-item-round {
    padding: 15px;
    &-number {
      padding: 35px;
      font-size: 60px;
    }
  }

  .process__container-item-text {
    font-size: 20px;
  }

  .process__container-item-text::before {
    margin-right: 13px;
  }
}

@media screen and (max-width: 1050px) {
  .header__logo-img {
    width: 82px;
    height: 83px;
  }

  .header__logo-title {
    width: 66px;
    height: 36px;
  }

  .process__container-item-text::before {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .about__info-introduction {
    margin-right: 50px;
    &-title {
      font-size: 32px;
      line-height: 40px;
    }

    &-nav {
      &-subtitle {
        font-size: 32px;
        line-height: 40px;
      }
      &-arrow {
        width: 108px;
        height: 88px;
      }
    }
  }

  .about__info-text {
    font-size: 14px;
    line-height: 24px;
  }

  .about__description-photo {
    width: 374px;
    height: 427px;
    border-radius: 200px 60px;
    margin-right: 74px;
  }

  .about__description-container {
    &-title {
      font-size: 32px;
      line-height: 40px;
    }
    &-subtitle {
      font-size: 32px;
      line-height: 40px;
    }
    &-text {
      font-size: 14px;
      line-height: 24px;  
    }

    &-btn {
      font-size: 10px;
    }
  }

  .services__cards-item {
    &-photo {
      width: 180px;
      height: 180px;
    }

    &-title {
      font-size: 22px;
      line-height: 27px;
    }

    &-btn {
      font-size: 11px;
    }
  }

  .tech__companies-item-1 {
    width: 124px;
    height: 124px;
  }
  .tech__companies-item-2 {
    width: 192px;
    height: 192px;
  }
  .tech__companies-item-3 {
    width: 203px;
    height: 203px;
  }
  .tech__companies-item-4 {
    width: 222px;
    height: 222px;
  }

  .process__container-item-round {
    &-number {
      padding: 25px 30px;
      font-size: 56px;
    }
  }

  .process__container-item-text {
    font-size: 16px;
  }

  .footer__logo-img {
    width: 145px;
    height: 145px;
  }

  .footer__nav-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
.home__container-image {
  width: 408px;
  height: 328px;
  &-img {
    width: 370px;
    height: 295px;
    }
  }

  .home__container-description {
    &-title {
      font-size: 34px;
      margin-bottom: 28px;
    }

    &-title-gradient {
      font-size: 40px;
    }

    &-subtitle {
      font-size: 14px;
      margin-bottom: 46px;
    }

    &-link {
      &-btn {
        font-size: 10px;
        padding: 17px 20px;
      }
    }
  }

  .home__info-container-img {
    width: 30px;
    height: 30px;
    margin: 0 18px;
  }

  .home__info-container-item-title {
    font-size: 17px;
    line-height: 20px;
  }

  .tech__companies-item-1 {
    width: 104px;
    height: 104px;
  }
  .tech__companies-item-2 {
    width: 162px;
    height: 162px;
  }
  .tech__companies-item-3 {
    width: 183px;
    height: 183px;
  }
  .tech__companies-item-4 {
    width: 200px;
    height: 200px;
  }

  .about__info-introduction {
    margin-right: 30px;
    &-title {
      font-size: 30px;
    }

    &-nav {
      &-subtitle {
        font-size: 30px;
        margin-right: 5px;
      }
      &-arrow {
        width: 80px;
        height: 88px;
      }
    }
  }

  .about__info-text {
    font-size: 14px;
    line-height: 24px;
  }

  .about__description-photo {
    width: 300px;
    height: 378px;
  }

  .services__cards-item {
    &-photo {
      width: 150px;
      height: 150px;
    }

    &-title {
      font-size: 18px;
      line-height: 22px;
    }

    &-btn {
      font-size: 10px;
      padding: 14px 32px;
    }
  }

  .process__container-item-round {
    &-number {
      padding: 20px 30px;
      font-size: 50px;
    }
  }

  .process__container-item-text {
    font-size: 16px;
    text-align: center;
  }

  .process__container-item-text::before {
    width: 0;
    height: 0;
  }

  .join__container-title {
    font-size: 30px;
    line-height: 40px;
  }
  .join__container-subtitle {
    font-size: 30px;
    line-height: 40px;
  }

  .footer__logo-img {
    width: 115px;
    height: 115px;
  }

  .footer__nav-item {
    font-size: 12px;
  }

  .footer__networks-container-link-icon {
    width: 26px;
    height: 26px;
  }

  .footer__networks-btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 840px) {
  .home {
    padding-top: 64px;
    &__container {
      flex-direction: column-reverse;
      &-description {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-vector {
          display: none;
        }
        &-title {
          text-align: center;
        }
        &-subtitle {
          text-align: center;
        }
        &-link {
          width: 100%;
          &-btn {
            font-size: 14px;
            margin-right: 0;
            width: 100%;
            text-align: center;
          }
          &-arrow {
            display: none;
          }
        }
      }
      &-image {
        width: 468px;
        height: 388px;
        &-vector-2 {
          right: -107px;
        }
        &-img {
          width: 430px;
          height: 355px;
        }
      }
    }
    &__info {
      &-container {
        
      }
    }
  }

  .about {
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 38px;
      &-introduction {
        text-align: center;
        margin-right: 0;
        &-title {
          margin-bottom: 16px;
        }
        &-nav {
          &-subtitle {
            margin-right: 0;
            margin-bottom: 16px;
          }
          &-arrow {
            display: none;
          }
        }
      }
      &-text {
        text-align: center;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      &-vector {
        display: none;
      }
      &-vector-2 {
        display: none;
      }
      &-photo {
        margin-right: 0;
        width: 370px;
        height: 458px;
        margin-bottom: 50px;
      }
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-text {
          text-align: center;
        }
        &-btn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .tech {
    &__container {
      &-title {
        font-size: 30px;
      }
      &-subtitle {
        font-size: 30px;
      }
    }
  }

  .join {
    &__container {
      &-form {
        padding: 0 22px;
        &-input {
          grid-template-areas: 
          "item-1 item-1 item-1 item-1 item-1 item-1"
          "item-2 item-2 item-2 item-2 item-2 item-2"
          "item-3 item-3 item-3 item-3 item-3 item-3"
          "item-4 item-4 item-4 item-4 item-4 item-4"
          "item-5 item-5 item-5 item-5 item-5 item-5"
          "item-6 item-6 item-6 item-6 item-6 item-6";
          &-item {
            padding: 29px 18px;
          }
        }
        &-btn {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .footer {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__logo {
      &-img {
        width: 185px;
        height: 185px;
      }
      margin-bottom: 46px;
    }
    &__nav {
      display: none;
    }
    &__networks {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-text {
        font-size: 16px;
      }
      &-container {
        &-link {
          &-icon {
            width: 32px;
            height: 32px;
          }
        }
        &-link:last-of-type {
          margin-right: 0;
        }
      }
      &-btn {
        width: 100%;
        text-align: center;
      }
    }
  }
}